<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtualPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VirtualPrinter.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Initialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrinterConfiguration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LabelTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="SendTestLabelLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendTestLabelTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendTestLabelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendTestLabelHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReceiveTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="NoDelay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Linger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LingerTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReceiveBufferSize" serializeAs="String">
                <value>-1</value>
            </setting>
        </VirtualPrinter.Properties.Settings>
    </userSettings>
</configuration>